// app global css in SCSS form

.container {
  padding-left: 12%;
  padding-right: 12%;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@font-face {
  font-family: myTitleFontBold;
  src: url(./fonts/ArcaMajora3-Bold.otf);
}

@font-face {
  font-family: myTitleFontHeavy;
  src: url(./fonts/ArcaMajora3-Heavy.otf);
}

.my-title-font-bold {
  font-family: 'myTitleFontBold';
}

.my-title-font-heavy {
  font-family: 'myTitleFontHeavy';
}

.my-text-font {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

strong {
  color: #f44336;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
